@font-face {
  font-family: "iconfont"; /* Project id 4875922 */
  src: url('./static/iconfont.woff2?t=1743324512615') format('woff2'),
       url('./static/iconfont.woff?t=1743324512615') format('woff'),
       url('./static/iconfont.ttf?t=1743324512615') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zan:before {
  content: "\e870";
}

.icon-fatie:before {
  content: "\eaad";
}

.icon-sousuo:before {
  content: "\eae4";
}

.icon-xiaoxi:before {
  content: "\e639";
}

.icon-zhifubao:before {
  content: "\e607";
}

.icon-weixin:before {
  content: "\e608";
}

.icon-a-031_wodehaoyou:before {
  content: "\e6ac";
}

.icon-yaoqinghaoyou:before {
  content: "\e67a";
}

.icon-shouye:before {
  content: "\e6ba";
}

